.jobpage_banner_div {
    height: 210px;
    background-color:#F6F8FC;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 80px;
    z-index: -10  ;
    
  }
 
  
  .jobpage_banner_heading {
    font-size: 3vw;
    margin-bottom: 10px;
  }
  
  .jobpage_banner_div small {
    color: rgb(90, 87, 87);
  }
  
  .jobpage_banner_logo {
    height: 210px;
  }
  
  .jobpage_heading_div {
    padding-top: 1%;
  }

  
  
 