.jobpage_banner_div {
    height: 210px;
    background-color:#F6F8FC;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .jobpage_banner_heading {
    font-size: 3vw;
    margin-bottom: 10px;
  }
  
  .jobpage_banner_div small {
    color: rgb(90, 87, 87);
  }
  
  .jobpage_banner_logo {
    height: 210px;
  }
  
  .jobpage_heading_div {
    padding-top: 1%;
  }
  
  @media only screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px (e.g. tablets and small laptops) */
  
    .jobpage_banner_div {
      height: 60px;
      display: flex;
      justify-content: space-between;
      
     
      
    }
  
    .jobpage_banner_heading {
      font-size: 5vw;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .jobpage_banner_logo {
      height: auto;
      max-width: 70%;
    }
  
    .jobpage_heading_div {
      padding-top: 3%;
    }

    .jobpage_banner_png{
        display: flex;
        justify-content: flex-end;
    }
  }
  