/*body {
    background-color: red;
} */

.middle_container a{
    color: black;
 text-decoration: none;
padding-left: 20px;
}

.container {

    display: flex;
    justify-content: space-between;
}

.item {
    /* border: 1px solid black; */
    padding: 10px;
    /* text-align: center; */
}

.brandName a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: left 60px;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;;
    background-color: rgba(209, 237, 244, 0.894);
}

.box1 {
    padding: 20%;
    height: 100vh;

}
@media only screen and (max-width:480px) {
    .box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin:0px;
    }
    .box1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 5px;
        height: 40vh;
        text-align: center;
    
    }
    .box1Image{
        width: 200px;
        height: 200px;
        margin-left:23%;
        margin-top: 8vh;
    }
    
}

.above_heading {
    color: green;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
}
.last_heading{
    font-weight: normal;
}

.box1Text {
    font-size: 2.3rem;
}
.last_heading{
    font-size: 1.7rem;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 249, 253, 0.894)
}



.container2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container3  span{
   padding-left: 100px;
}

.content3 {
    list-style: none;
    text-decoration: none;
    /* display:flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* align-items: inline; */
    justify-items: center;
    background-color: rgba(234, 249, 253, 0.894);
    position:relative;


}
@media only screen and (max-width:480px) {
    .content3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

/* .item {
    list-style: none;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: auto;

} */

.content3{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
     

}
.content3{
    animation-name :fade
    animation-duration: 3s;
    anmation-timing-function
}
.item3 li {
    display: inline;
    justify-content: space-between;
    

}

.container4 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 249, 253, 0.894)
}
.last_line{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
@media only screen and (max-width:480px) {
    .last_line{
        text-align: center;
    }
}

/* .grid_container5{
    display: grid;
    grid-template-columns: auto ,auto ,auto,auto;
    padding: 20px;;
    background:whitesmoke;
    box-shadow: rgba(209, 237, 244, 0.894);
} */

.grid_container5{
    display:grid;
  /* grid-template-rows: auto; */
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2px;
  
  /* width: 80%; */
  /* margin-left: 15%;  */
   /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */

  

  
}
@media only screen and (max-width:480px) {
    .grid_container5{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

  
.grid-item{
    border:1px solid ;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin: 45px;
    /* float: left; */

}
    
    

.container6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.bell_icon {
    width: 20px;
    height: 20px;
}
.footer_container{
    max-width: 1500px;
    /* display: grid; */
    margin:auto
}
.row{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.follow_us_div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 5vh;
    /* grid-template-rows: repeat(2,1fr); */
    /* gap: 5x; */
}


@media only screen and (max-width:480px) {
    .row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* justify-content: end; */
       /* text-align: center; */
       /* margin-left:40%; */
       margin-top: 10vh;
    }
   
}
ul{
    list-style: none;
}

.footer{
    background-color: rgb(34, 70, 99) ;
    padding:70px 0;
}
.footer_col{
    /* width: 20%;
    padding: 0 15px; */
    

}
.container_text h1 {
    color: whitesmoke;
    margin: 50px ;
     
}
.container_text p{
    color: whitesmoke;
    margin: 50px;                 
    
}
.footer_button{
    float: right;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: end;
    text-shadow: #21d2ae;
    
    box-sizing: border-box;
    color: #c52d2d;
    margin-right:70px ;
    /* display: flex; */
    border:#c42c5f ;
    width: 300px;
    height: 50px;
    gap:10px;
    border-radius: 10px;
    /* margin-left: 20%; */

    /* box-shadow: ; */


}
.register_btn{
    background-color: #1db65d;
}



/* .follow_us_div{
    display: flex;
   
    padding-top: 15px;
} */
.follow_us_div h4{
    padding: 0;
    margin: 0;
}

.firstHalf{
    color:#21d2ae;
    font-size: large;
    font-weight: bold;
    

    
}
.secondHalf{
    color: aliceblue;
}


.footer_email{
    color:#21d2ae;
    font-weight: bold;
}
.footer_col h3{
    color: whitesmoke;
}
.footer_col h4{
    margin-bottom:30px;
    color: rgb(137, 127, 199);
    font-size:20px;
    font-weight: 200;
    position: relative; 
    /* text-align: center;    */

}
.footer_col h4::before{
    background-color: #c42c5f;
    box-sizing: border-box;
    width:50px;
    height: 2px;
    bottom: -10px;
    left:0;
    position: absolute;
    

}
.footer_col ul li :not(:last-child){
    margin-bottom: 10px;

}
.footer_col ul li a {
    font-size: 16px;
    text-transform:  capitalize;
    color:white ;
    text-decoration: none;
    color: white;
    /* display: block; */
    font-weight: 300;
    transition: all 0.3s ease;
    
   
}
.footer_col ul li a :hover{
    color: #ffffff;
    padding-left: 0px;
}

.contact_us_div{

    display: flex;
}

.contact_us_logo_div img{ 
 width: 45px;
 padding-top: 20px;

}




@media screen  and (max-width:720px){
.container_text h1{

    font-size: 1.2rem;
}

.footer_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

}