/*body {
    background-color: red;
} */

.middle_container a{
    color: black;
 text-decoration: none;
padding-left: 20px;
}

.container {

    display: flex;
    justify-content: space-between;
}

.item {
    /* border: 1px solid black; */
    padding: 10px;
    /* text-align: center; */
}

.brandName a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: left 60px;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgba(209, 237, 244, 0.894)
}

.box1 {
    padding: 20%;
    height: 100vh;

}
.above_heading {
    color: green;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
}
.last_heading{
    font-weight: normal;
}

.box1Text {
    font-size: 2.3rem;
}
.last_heading{
    font-size: 1.7rem;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 249, 253, 0.894)
}

.content {

}

.container2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container3  span{
   padding-left: 100px;
}

.content3 {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: inline;
    background-color: rgba(234, 249, 253, 0.894);


}

/* .item {
    list-style: none;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: auto;
} */

.item3 li {
    display: inline;
    justify-content: space-between;
    

}

.container4 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 249, 253, 0.894)
}
.last_line{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
/* .grid_container5{
    display: grid;
    grid-template-columns: auto ,auto ,auto,auto;
    padding: 20px;;
    background:whitesmoke;
    box-shadow: rgba(209, 237, 244, 0.894);
} */

.grid_container5{
    display:grid;
  grid-template-rows: repeat(2,270px);
  grid-template-columns: repeat(4,370px);
  grid-gap: 2px;
  width: 80%;
  margin-left: 15%;
  
 
  
}
.grid-item{
    border:1px solid ;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin: 45px;
}
    
    

.container6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.bell_icon {
    width: 20px;
    height: 20px;
}
.footer_container{
    max-width: 1500px;
    
    margin:auto
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: rgb(34, 70, 99) ;
    padding:70px 0;
}
.footer_col{
    width: 20%;
    padding: 0 15px;
    

}
.container_text h1 {
    color: whitesmoke;
    margin: 50px ;
     
}
.container_text p{
    color: whitesmoke;
    margin: 50px;                 
    
}
.footer_button{
    float: right;
    
    text-shadow: #21d2ae;
    
    box-sizing: border-box;
    color: #c52d2d;
    margin-right:70px ;
    display: flex;
    border:#c42c5f ;
    width: 300px;
    height: 50px;
    gap:10px;
    /* box-shadow: ; */


}
.register_btn{
    background-color: #1db65d;
}

.login_btn{

}

.follow_us_div{
    display: flex;
   
    padding-top: 15px;
}
.follow_us_div h4{
    padding: 0;
    margin: 0;
}



    




.firstHalf{
    color:#21d2ae;
    font-size: large;
    font-weight: bold;
    

    
}
.secondHalf{
    color: aliceblue;
}


.footer_email{
    color:#21d2ae;
    font-weight: bold;
}
.footer_col h3{
    color: whitesmoke;
}
.footer_col h4{
    margin-bottom:30px;
    color: rgb(137, 127, 199);
    font-size:20px;
    font-weight: 200;
    position: relative;    

}
.footer_col h4::before{
    background-color: #c42c5f;
    box-sizing: border-box;
    width:50px;
    height: 2px;
    bottom: -10px;
    left:0;
    position: absolute;
    

}
.footer_col ul li :not(:last-child){
    margin-bottom: 10px;

}
.footer_col ul li a {
    font-size: 16px;
    text-transform:  capitalize;
    color:white ;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: 300;
    transition: all 0.3s ease;
}
.footer_col ul li a :hover{
    color: #ffffff;
    padding-left: 0px;
}

.contact_us_div{

    display: flex;
}

.contact_us_logo_div img{ 
 width: 45px;
 padding-top: 20px;

}




@media screen  and (max-width:720px){
.container_text h1{

    font-size: 1.2rem;
}

.footer_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

}